//wt is short for wetrip
.wt-fz-8 {
    font-size: 8px;
}

.wt-fz-10 {
    font-size: 10px;
}

.wt-fz-12 {
    font-size: 12px;
}

.wt-fz-13 {
    font-size: 13px;
}

.wt-fz-14 {
    font-size: 14px;
}

.wt-fz-16 {
    font-size: 16px;
}

.wt-fz-18 {
    font-size: 18px;
}

.wt-fz-20 {
    font-size: 20px;
}

.wt-fz-22 {
    font-size: 22px;
}

.wt-fz-24 {
    font-size: 24px;
}

.wt-fz-26 {
    font-size: 26px;
}

.wt-fz-28 {
    font-size: 28px;
}

.wt-fz-30 {
    font-size: 30px;
}

.wt-fz-32 {
    font-size: 32px;
}

.wt-fz-36 {
    font-size: 36px;
}

.wt-fz-40 {
    font-size: 40px;
}

.wt-fz-48 {
    font-size: 48px;
}

.wt-fw-100 {
    font-weight: 100;
}

.wt-fw-200 {
    font-weight: 200;
}

.wt-fw-300 {
    font-weight: 300;
}

.wt-fw-400 {
    font-weight: 400;
}

.wt-fw-500 {
    font-weight: 500;
}

.wt-fw-600 {
    font-weight: 600;
}

.wt-fw-800 {
    font-weight: 800;
}

.wt-color-black {
    color: var(--black-color);
}

.wt-color-black-2 {
    color: var(--black-color-2);
}

.wt-color-green {
    color: var(--green-color);
}

.wt-color-blue {
    color: var(--blue-color);
}

.wt-color-blue-2 {
    color: var(--blue-color-2);
}

.wt-color-blue-3 {
    color: var(--blue-color-3);
}

.wt-color-blue-4 {
    color: var(--blue-color-4);
}

.wt-color-blue-5 {
    color: var(--blue-color-5);
}

.wt-bg-blue {
    background: var(--blue-color);
}

.wt-bg-blue-transparent {
    background: var(--blue-color-transparent);
}

.wt-color-gray {
    color: var(--gray-color);
}

.wt-color-yellow {
    color: var(--yellow-color);
}

.wt-color-gray-2 {
    color: var(--gray-color-2);
}

.wt-cursor {
    cursor: pointer;
}

.wt-font-merriweather {
    font-family: var(--font-merriweather);
}

.wt-font-antonio {
    font-family: var(--font-antonio);
}

.wt-rounded-6 {
    border-radius: 6px;
}

.wt-rounded-10 {
    border-radius: 10px;
}

.wt-rounded-20 {
    border-radius: 20px;
}

.wt-line-gradient::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(40, 141, 255, 0.2), rgba(40, 141, 255, 1), rgba(40, 141, 255, 0.28));
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem 0;
    list-style-type: none;

    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        padding: 0;
        border-radius: 100%;
        background-color: #ccc;
        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: var(--green-color);
    }
}
